body {
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 30px;
    border-radius: 8px;
}
.right-alignment{
    text-align: right;
    font-weight: bold;
}
.left-alignment{
    text-align: left;
}
.amount-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.table-1 {
    margin-top: -20px; 
    margin-left: 10%;
    margin-right: 0;
    border-collapse: collapse;
}
.table-2{
    margin-top: -4px;
    margin-left: 10%;
    margin-right: 0;
    border-collapse: collapse;
}
.table-3{
    text-align: left;
    margin-top: -4px;
    margin-left: 10%;
    margin-right: 0;
    border-collapse: collapse;
}
.table-4{
    text-align: left;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: auto;
    border-collapse: collapse;
}
.table-3 td:first-child,
.table-4 td:first-child {
    vertical-align: top;
}
.note {
    font-weight: normal;
}
.input{
    padding-left: 5px;
}
.input-error{
    padding-top: -15px;
}
.nomargin{
    text-align: left;
    padding-left: 0;
}