body {
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #e8e8e8;
    padding: 30px;
    border-radius: 8px;
}
.inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border: 2px solid black;
    border-bottom: none;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.flex-item{
    width: 200px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.table-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
.second-inner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.login-section{
    width: 90%;
    border: 2px solid grey;
}
.right-align{
    text-align: right;
    font-weight: bold;
}